/*import fonts from google fonts - Amarante and Rakkas*/


@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Rakkas&display=swap');


/* css reset */
* {
    padding: 0px;
    Margin: 0px;
    font-size: 100%;
    line-height: 1em;
}

/*default styles for whole page*/
body {
    color: #ffffff;
    border-color: black;
    background-color: #59292A;

}

/*default styling for headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
}

/*specific sstyles*/
h1 {
    font-size: 4.25rem;
    margin-bottom: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.75rem;
    margin-bottom: 0.2rem;
}

/* Paragraphs */
p {
    font-family: "Amarante";
    font-weight: 400;
    line-height: 1.5;
    font-size: medium;
    margin-bottom: 1.5rem;
    font-style: normal;
}

p.large {
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    font-family: "amarante";
}



/* Navigation bar css*/

.navbar ul {
    
    list-style: none;
    background-color: #59292A;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.navbar a {
    color: #E9E9E9;
    text-decoration: none;
    padding: 15px;
    margin: 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #482223;
}

.navbar li {
    float: left;
    text-align: center;
}

/* the street of crocodiles on an image */
.dollhead img{
    max-width: 1728px;
    max-height: 1037px;
    padding: 0px 0px 0px 00px;
}
.opening {
    position: relative;
    text-align: left;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.opening {
    display: flex;
    justify-content: center;
}



/* With Bruno Schulz Section, Up Right Down Left*/
.with-bruno {
    background-color: #2B3C37;
    padding: 100px 200px 100px 200px;


}


.bruno img{
    max-width: 916px;
    max-height: 849px;
    padding: 30px 0 30px 0px;
    border-radius: 10%;
    background-repeat: repeat;
}

/*about section class*/
.About {
    padding: 50px 150px 30px 150px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    padding: 0px 150px 0px 335px;
    
}

.About p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;

}

.About h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 0px 200px 30px 200px;
}

.About h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;

}

/*august div class*/
.august {
    background-color: #E9E9E9;
    font: 1.5rem;
    color: #59292A;
    padding: 30px 100px 30px 100px;
}
.august p {
    max-width: 1200px;

  padding: 0px 100px 0px 100px;
   
}

.august h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.august h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

/*market div class*/
.market {
    padding: 30px 30px 30px 30px;
}

img {
    max-width: 1228px;
    max-height: 849px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 30px 110px 30px 15px;
}

.market p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.market h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.market h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

/*street div class*/
.street {
    background-color: #2B3C37;
    padding: 30px 30px 30px 30px;
}

.street p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

/*reading*/
.reading {
    padding: 30px 30px 30px 30px;

}

.reading p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.reading h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.reading h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}