/*import fonts from google fonts - Amarante and Rakkas*/


@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Rakkas&display=swap');


/* css reset */
* {
    padding: 0px;
    Margin: 0px;
    font-size: 100%;
    line-height: 1em;
}

/*default styles for whole page*/
body {
    color: #ffffff;
    border-color: black;
    background-color: #59292A;

}

/*default styling for headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-style: normal;
}

/*specific sstyles*/
h1 {
    font-size: 4.25rem;
    margin-bottom: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.75rem;
    margin-bottom: 0.2rem;
}

/* Paragraphs */
p {
    font-family: "Amarante";
    font-weight: 400;
    line-height: 1.5;
    font-size: medium;
    margin-bottom: 1.5rem;
    font-style: normal;
}

p.large {
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    font-family: "amarante";
}



/* Navigation bar css*/

.navbar ul {
    
    list-style: none;
    background-color: #59292A;
   margin: 0 auto;
   padding: 0;
   display: flex;
   justify-content: center;
    
}

.navbar a {
    color: #E9E9E9;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-family: 'Rakkas';
    font-size: 28px; /* Adjust font size as needed */
    color: #E9E9E9;
    
}

.navbar a:hover {
    background-color: #482223;
}

.navbar li {

  margin: auto;
  padding: 0px 30px;
}

/* the street of crocodiles on an image */
.dollhead img{
    max-width: 1455px;
    max-height: 1200px;
   object-fit: cover;
   display: block;
   margin: auto;
}


/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: -140px;
    left: 20px;
    padding: 0px 0px 0px 0px;
    margin: auto;
color: #E9E9E9;
font-size: large;
font-family: "rakkas";
}

.opening {
    display: flex;
    justify-content: center;
}



/* With Bruno Schulz Section, Up Right Down Left*/
.with-bruno {
    background-color: #2B3C37;
    padding: 100px 200px 100px 200px;
    
}
.with-bruno h2{
    max-width: 1200px;
    text-align: left;
    margin: 0 auto 0 auto;
    padding: 0px 0px 30px 0px;
}
.with-bruno p.large {
    max-width: 1200px;
    text-align: left;
    margin: 0 auto 0 auto;
    padding: 0px 100px 30px 100px;
}
.bruno img{
    max-width: 916px;
    max-height: 849px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}

/*about section class*/
.About {
    padding: 50px 150px 30px 150px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.About p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;

}

.About h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 0px 200px 30px 200px;
}

.About h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;

}

/*august div class*/
.august {
    background-color: #E9E9E9;
    font: 1.5rem;
    color: #59292A;
    padding: 30px 100px 30px 100px;
}
.august p {
    max-width: 1200px;

  padding: 0px 100px 0px 100px;
  margin: auto;
   
}

.august h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 100px 20px 100px;
}

.august h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 100px 20px 100px;
}

.august img {
    max-width: 1228px;
    max-height: 849px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 30px 110px 30px 100px;
}
/*market div class*/
.market {
    padding: 30px 100px 30px 100px;
}

.market img {
    max-width: 1228px;
    max-height: 849px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 30px 110px 30px 100px;
}

.market p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 100px 20px 100px;
}

.market h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 100px 20px 100px;
}

.market h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 100px 20px 100px;
}

/*street div class*/
.street {
    background-color: #2B3C37;
    padding: 0px 100px 30px 100px;
}
.street img{
    max-width: 1500px;
    max-height: 849px;
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;
}
   
.street p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 20px 100px 20px 100px;
}
.street h1 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 30px 100px 30px 100px;
}
.street h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 30px 100px 30px 100px;
}
.street h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 30px 100px 30px 100px;
}
/*reading*/
.reading {
    padding: 30px 100px 30px 100px;

}

.reading p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 100px 10px 100px;
}

.reading h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 100px 10px 100px;
}
.reading h4 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 100px 10px 100px;
}
.reading h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 100px 10px 100px;
}
